html {
    height: 100%;
}
* {
    margin-left: clamp(1.8rem, 7vw + 1rem, 5rem);
    margin-right: clamp(1.8rem, 5vw + 1rem, 5rem);
    background-color: rgb(255, 232, 223);
    padding: 0; 
    box-sizing: border-box; 
}
.icon,p,h3{
    background-color: rgba(0,0,0, 0);
}
body {
    display: flex;
    justify-content:start;
    max-height: 90vh; 
    flex-wrap:wrap;
    border: 20px;
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    align-items:flex-end;
    justify-content:start;
    align-self: flex-start;
    min-width: 100vw;
    padding: 0;
    margin:0;
    flex-wrap: wrap;
}
#logo
{
    max-width:75px;
    align-self: flex-start;
    margin:20%;
    border-radius:38px;
}
main{
    align-self:self-start;
    display: grid;
    min-width:90vw;
    grid-auto-rows: 1fr 1fr 1fr;
}
.content-1
{
    grid-column:2/3;
    grid-row: 1/2;
}
.content-2
{
    grid-column: 1/2;
    grid-row: 1/2;
    max-width:70%;;
    align-content: center;
}
.icon
{
    max-width: 50px;
}
.carousel {
    display: flex; 
    overflow: hidden; 
    width: 90%;
    margin: 100px auto; 
}
.carousel::-webkit-scrollbar {
    display: none;
}
.group {
    display: flex;
    gap: 3px; 
    padding-right: 0px;
    padding-left:0.2px;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    
    animation: spin 20s linear infinite normal;
    flex-shrink: 0;
    width: max-content;
    min-width: 100%;
}

.card {
    flex: 0 0 5em; 
    margin: 3px;
    padding:3px;
    background: white; 
    border: 1px solid #ccc;
    
    font-size: 1rem;
    border-radius: 1.5rem;
    text-align: center;
    align-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    
    padding: 1em; 
}

@keyframes spin {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}